#div1{
    display:block;
    background-color: blue;
    border: 2px;
    height: 40px;
    width: 40px;
}
#div1:hover{
    background-color: brown;
    height: 20px;
    transition:height 4s , background 4s;
}
#div2{
    display:block;
    background-color:red;
    border: 2px;
    height: 40px;
    width: 40px;
    margin: 100px;
}
div:hover +div{
    margin-left: 200px;
    transition: margin 5s;
}
